
<div class="hero">
    <header class="container">
      <hgroup>
          <h1>Damage Control</h1>
          <h2>Because the heroes need someone to clean up after them</h2>
      </hgroup>
      <p><a routerLink="/FileClaim" *ngIf="AccessLevel === 0" role="button">Submit Claim</a></p>
      <p><a routerLink="/ViewTickets" *ngIf="AccessLevel === 0" role="button">View Your Claims</a></p>
      <p><a routerLink="/ViewClaims" *ngIf="AccessLevel > 0" role="button">View Submitted Claims</a></p>
      <p><a routerLink="/ViewProfile" role="button">Check/Edit Personal Information</a></p>
      
    </header>
    <!-- ./ Hero -->
    
    <!-- Main -->
    <main class="container">
    <div class="grid">
    
      <section>
          <hgroup>
              <h2>Avengers Civil War</h2>
              <h3>How will this impact my coverage</h3>
          </hgroup>
          <p>The Avengers may have split up, but we're still here to look after your best interests. Find out how
              we're going to protect you in this turbulent time</p>
    
          <h3>Web-Head's webbing: Does my insurance cover removal of Spider-Man's webs?</h3>
          <p>Spider-Man's webbing may come in handy to capture some bad guys, but that doesn't mean you want it to
              stay plastered all over your windows. Click here to find our policy regarding removal of webbing</p>
          <h3>Multi-Verse Travel: Risks, Rewards, and Coverage</h3>
          <p>It's no secret universe hopping is the newest trend, but how safe is it? Check here to learn how to
              travel safely and how we can protect you if something goes wrong</p>
      </section>
    </div>
  