<main class="container">
    <div class="grid">
    
      <section>
          <hgroup>
            <table>
                <tr>
                    <th>Ticket ID:</th>
                    <th>Client ID:</th>
                    <th>Cost:</th>
                    <th>Employee ID:</th>
                    <th>Submission Date:</th>
                    <th>Date of Damage:</th>
                    <th>Description:</th>
                    <th>Damager:</th>
                    <th>Justification:</th>
                    <th>Status:</th>
                </tr>
                <div *ngForEach="let Ticket in Tickets">
                    <tr>
                        <td>{{Ticket.Id}}</td>
                        <td>{{Ticket.ClientId}}</td>
                        <td>{{Ticket.Amount}}</td>
                        <td>{{Ticket.EmployeeId}}</td>
                        <td></td>
                    </tr>

                </div>
            </table>
      </section>
    </div>
  