<main class="container">
    <article class="grid">
        <div>
                <h1>Sign in</h1>
            <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
                <input type="text" [(ngModel)]="credentials.username"  name="username" placeholder="Login" aria-label="Login" autocomplete="nickname"
                    required>
                <input type="password" name="password" [(ngModel)]="credentials.password" class="form-control" placeholder="Password" aria-label="Password"
                    autocomplete="current-password" required>
                <fieldset>
                    <label for="remember">
                        <input type="checkbox" role="switch" id="remember" name="remember">
                        Remember me
                    </label>
                </fieldset>
                <button type="submit" class="contrast" [disabled] = "!loginForm.valid">Login</button>
            </form>
        </div>
        <div style="margin-top: 15%;"><img src="../../assets/DamageControlLogo.png" /></div>
    </article>
</main><!-- ./ Main -->


<!-- Minimal theme switcher -->