<div class="hero">
    <nav class="container-fluid">
        <ul>
            <li><a routerLink="postLogin" class="contrast" onclick="event.preventDefault()"><img src="../../assets/DamageControlLogo.png" style="width:8%" /><strong>Damage Control</strong></a>
            </li>
        </ul>
        
            <!--<li>
                <details role="list" dir="rtl">
                    <summary aria-haspopup="listbox" role="link" class="contrast">Theme</summary>
                    <ul role="listbox">
                        <li><a href="#" data-theme-switcher="auto">Auto</a></li>
                        <li><a href="#" data-theme-switcher="light">Light</a></li>
                        <li><a href="#" data-theme-switcher="dark">Dark</a></li>
                    </ul>
                </details>
            </li>
            <li>-->
            <details role="list" dir="rtl">
                <summary aria-haspopup="listbox" role="link" class="contrast">Pages</summary>
                <ul role="listbox">
                    <li><a routerLink="/postLogin">Home</a></li>
                    <li><a routerLink="/Login">Log In</a></li>
                    <li><a routerLink="/Register">Register</a></li>
                    <li><a routerLink="/ViewClaims">View Claims</a></li>
                </ul>
            </details>
           
    </nav>
    </div>